<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Nuevo Cliente</title>
</head>

<body>

<h1>Registrar Cliente 👤</h1>

<form action="/guardar-cliente" method="post">

    <label>Nombre:</label>
    <input type="text" name="nombre">
    <br><br>

    <label>Teléfono:</label>
    <input type="text" name="telefono">
    <br><br>

    <label>Correo:</label>
    <input type="email" name="correo">
    <br><br>

    <label>Dirección:</label>
    <input type="text" name="direccion">
    <br><br>

    <button type="submit">
        Guardar Cliente
    </button>

</form>

</body>
</html>